body {
    background-color: white;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Caveat', cursive;
}

.header {
    margin-top: 10%;
    text-align: center;
}

.main {
    font-size: 24px;
    text-align: center;
}

#input-task {
    background-color: lightskyblue;
    border-color: lightseagreen;
    border-radius: 5px;
    color: darkblue;
    font-size: 16px;
    width: 300px;
}

.button-add {
    background-color: violet;
    border-radius: 5px;
    border-color: greenyellow;
    color: white;
    cursor: pointer;
    width: max-content;
}

.button-add:hover {
    background-color: darkmagenta;
    border-color: darkorange;
}

#remove {
    background-color: tomato;
    border-radius: 5px;
    border-color: turquoise;
    color: white;
    margin-left: 10px;
    width: max-content;
}

#remove:hover {
    background-color: darkturquoise;
    border-color: deeppink;
    color: black;
}

.task-container {
    margin: 10px;
}

#about {
    text-align: right;
}   
